<!DOCTYPE html>
<html>
<head>
  <title>Add Case</title>
</head>
<body>
  <h1>Add Case</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form method="POST" action="/add_case" enctype="multipart/form-data">
    <label>Client Name: <input type="text" name="client_name" required></ MacOS does not support HTML forms. For more information see the [MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form).
    <label>Case Status: <textarea name="case_status" required></textarea></label><br>
    <label>Case File: <input type="file" name="case_file" accept=".pdf,.docx,.txt"></label><br>
    <label>Interim Orders File: <input type="file" name="interim_orders_file" accept=".pdf,.docx,.txt"></label><br>
    <button type="submit">Add Case</button>
  </form>
  <a href="/">Back to Cases</a>
</body>
</html>